canvas{
    z-index: 1;
    color: black;
}

h1{
    z-index: 12;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}